html {
    color: rgb(36, 76, 90);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: red;
    text-decoration: none;
}

/*-------------------------------Header-----------------------------*/

#mypic {
    height: 15rem;
    border-radius: 2rem;
    margin-left: 10%;
    margin-top: 2%;
   
}
.nav {
    display: block;
    float: right;
    font-size: 1.5rem;
    margin-top: 7.5%;
}
.nav a {
    text-decoration: none;
    font-weight: bold;
    color:rgb(36, 76, 90);
    margin: 2rem;
    }


/*-------------------------------About Me-----------------------------*/
.about {
    text-align: center;
    margin: 2%;
}









/*-------------------------------Career History-----------------------------*/
.history {
    text-align: center;
    margin: 5%;
}

.history img {
    display: inline;
    height: 2rem;
    

}





/*-------------------------------New Skills-----------------------------*/
.skills {
    text-align: center;
    margin: 5%;
}



.skills img {
    display: inline;
    height: 2rem;
}

.topics img {
    height: 5rem;
}
.topics {
    display: grid;
    margin: auto;
    grid-row: auto;
    box-sizing: border-box;
    width: 75%;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    list-style-type: none;
    color: blue;
    font-weight: bold;
}

#html {
    grid-area: 1 / 1 / 2 / 2;
    height: auto;
    margin: 2rem;
    text-align: center;
}

#css {
    grid-area: 1 / 2 / 2 / 3;
    height: auto;
    margin: 2rem;
    text-align: center;
}

#js {
    grid-area: 1 / 3 / 2 / 4;
    height: auto;
    margin: 2rem;
    text-align: center;
}

#git {
    grid-area: 2 / 1 / 3 / 3;
    height: auto;
    margin: 2rem;
    text-align: center;
}

#node {
    grid-area: 2 / 2 / 3 / 4;
    height: auto;
    margin: 2rem;
    text-align: center;
}

#more {
    grid-area: 3 / 2 / 4 / 3;
    height: auto;
    margin: 2rem;
    text-align: center;
    font-size: 1.25rem;
    font-style: italic;
}
#more img {
    height: 10rem;
}







/*-------------------------------Projects-----------------------------*/
.projects {
    text-align: center;
    background-color: rgb(196, 209, 209);
}

.projects li {
    list-style-type: none;
    margin: 2rem;
}

/*-------------------------------Contact-----------------------------*/
footer {
    text-align: center;
}

footer a {
    color: red;
    font-size: 1.5rem;;
}


/*-------------------------------CONTACT PAGE-----------------------------*/
.html2 {
    text-align: center;
}
/*-------------------------------Header-----------------------------*/


/*-------------------------------Contact Me-----------------------------*/
.contactpage li {
    list-style-type: none;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 5%;
}
.contactpage img {
    height: 2rem;
    margin: 1%;
}

#github {
    margin: 7.5%;
}
#github img {
    height: 2.5rem;
}
#github a {
    font-size: 2rem;
}

#feedback {
    border-color: rgb(36, 76, 90);
    border-width: .25rem;
    border-radius: 2rem;
   
}   

/*-------------------------------Footer-----------------------------*/


/*-------------------------------Responsive Design-----------------------------*/

@media only screen and (max-width: 480px) {    
 
    .nav {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .topics {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        font-size: 2rem;
        font-weight: bold;
        color:blue;
    }
    .topics img {
        display: none;
    }
    .about {
        display: flex;
        flex-wrap: wrap;
        margin: 5%;
    }
    #feedback {
        max-width: 85%;
    }
    
    

    }
    


@media only screen and (min-width: 480px) and (max-width: 1024px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .topics {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        font-size: 2rem;
        font-weight: bold;
        color:blue;
    }
    .topics img {
        display: none;
    }
    .about {
        display: flex;
        flex-wrap: wrap;
        margin: 5%;
    }
    #feedback {
        max-width: 85%;
    }
    
        
}



